/* This is the styling for the header */
header {
    margin-right: 20px;
    padding: 10px;
    clear: both;
    float: left;
    width: 100%;
    height: 10%;
    font-family: Arial;
    background-color: navy;
    color: white;
}

header h1 {
    font-family: Georgia;
    font-size: 40px;
    text-align: center;
}

/* This is the styling for the nav bar and the links in the nav bar */
nav {
    background-color: navy;
    text-align: center;
}

nav a {
    color: white;
    font-family: Arial;
    font-size: 20px;
}


about {
    margin-right: 20px;
    padding: 10px;
    clear: both;
    float: left;
    width: 100%;
    height: 10%;
    font-family: Arial;
    background-color: gray;
    color: white;
}

/* This is the "about Me" styling */
about h3 {
    font-size: 30px;
}

about p {
    max-width: 80%;
    padding-left: 10%;
}

about img {
    display: inline-block;
    margin: 10px auto;
    max-width: 20%;
    max-height: 10%;
}

about p {
    display: inline-block;
    justify-content: right;
    max-width: 500px;
    font-size: 30px;
}

work {
    margin-right: 20px;
    padding: 10px;
    clear: both;
    float: left;
    width: 100%;
    height: 10%;
    font-family: Arial;
    background-color: beige;
    color: black;
}

/* This is the "Work" Styling */
work h3 {
    font-size: 30px;
}

work img {
    display: inline-flex;
    margin: 10px auto;
    max-width: 40%;
    max-height: 50%;
    padding: 20px;
    align-items: center;
}

/* This is the "Contact Me" styling */
footer {
    margin-right: 20px;
    padding: 10px;
    clear: both;
    float: left;
    width: 100%;
    height: 10%;
    font-family: Arial;
    background-color: black;
    color: white;
}

footer h3 {
    color: white;
    font-family: Arial;
}

footer p {
    color: white;
    font-family: Arial;
    font-size: 15px;
}

footer a {
    color: white;
}