header {
    background-color: indigo;
    color: white;
    font-family: Arial;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: white;
    color: indigo;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
}

body {
    background-color: white;
    color: black;
    font-family: Arial;
    font-size: 20px;
    -ms-flex-align: end;
}